<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Mr Hotel a Hotel Category Flat Bootstrap Responsive  Website Template | Contact :: w3layouts</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<!-- Custom Theme files -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Mr Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--Google Fonts-->
	<link href='//fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
	<!--google fonts-->
	<!-- animated-css -->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
	<script>
	new WOW().init();
	</script>
	<!-- animated-css -->
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<!--header-top start here-->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<!-- <div class="col-md-4 top-social wow bounceInLeft" data-wow-delay="0.3s"> For future feature
				<ul>
				<li><h5>Follow Us :</h5></li>
				<li><a href="#"><span class="fb"> </span></a></li>
				<li><a href="#"><span class="tw"> </span></a></li>
				<li><a href="#"><span class="in"> </span></a></li>
				<li><a href="#"><span class="gmail"> </span></a></li>
			</ul>
		</div> -->
		<div class="col-md-8 header-address wow bounceInRight" data-wow-delay="0.3s">
			<ul>
				<li><span class="phone"> </span> <h6>0744 534 912</h6></li>
				<li><span class="email"> </span><h6><a href="mailto:info@example.com">aura.tacal@yahoo.com</a></h6></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</div>
<!--header-top end here-->
<!--header start here-->
<!-- NAVBAR
================================================== -->
<div class="header">
	<div class="fixed-header">

		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="logo wow slideInLeft" data-wow-delay="0.3s">
							<a class="navbar-brand" href="/"><img src="images/LogoBelvedere5.png" /></a>
						</div>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<nav class="cl-effect-16" id="cl-effect-16">
							<ul class="nav navbar-nav">
								<li><a  href="/" data-hover="Acasa">Acasa</a></li>
								<li><a href="/rooms" data-hover="Camere">Camere</a></li>
								<li><a href="/contact" class="active" data-hover="Contact">Contact</a></li>
							</ul>
						</nav>

					</div>
					<div class="clearfix"> </div>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->
<!--contact start here-->
<div class="contact">
	<div class="container">
		<div class="contact-main">
			<div class="contact-top">
				<h2>Contact</h2>
			</div>
			<div class="contact-bottom">
				<div class="col-md-9 contact-left">
					<form action='/contact' method='post'>
						<input type="text" name='name' placeholder="Nume">
						<input type="text" name='email' class="email" placeholder="Email">
						<textarea  name='message' placeholder="Mesaj" required=""></textarea>
						<input type="submit" id='trimite' onclick="" value="Trimite">
						<!-- <script>
							$("#trimite").click(function (event) {
								this.disabled = true;
								$(this).attr("onclick","emailSent()");
								function emailSent() {
									alert('Email Sent');
								};
							});
						</script> -->
					</form>
				</div>
				<div class="col-md-3 contact-right">
					<h1>Addresa</h1>
					<p>Colibita</p>
					<p>Drumul Principal</p>
					<p>0744534912</p>
					<p><a href="mailto:tudortacal@gmail.com">tudortacal@gmail.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--contact end here-->
<!--map start here-->
<div class="map">
	<div class="container">
		<iframe src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d1963.8972637415209!2d24.888950258273052!3d47.17365994966778!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1494879012535" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </div>
	</div>
	<!--map end here-->
	<!-- footer start here-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-3 ftr-grid wow zoomIn" data-wow-delay="0.3s">
					<div class="ftr-logo">
						<h3>Cabana Belvedere</h3>
					</div>
					<p>Inchiriaza cabana pentru a te bucura de peisajele minunate oferite de statiunea Colibita</p>
					<a href="#" class="ftr-btn">Citeste mai mult</a>
				</div>
				<div class="col-md-3 ftr-grid ftr-mid wow zoomIn" data-wow-delay="0.3s">
					<h3>Adresa</h3>
					<span class="ftr-line flm"> </span>
					<p>Bistrita-Nasaud</p>
					<p>Bistrita-Bargaului</p>
					<p>Statiunea Colibita</p>
					<p>Drumul princial</p>
					<p>Numarul 12</p>

				</div>
				<div class="col-md-3 ftr-grid ftr-rit wow zoomIn" data-wow-delay="0.3s">
					<h3>Contact</h3>
					<form>
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						<input type="submit" value="Trimite" />
					</form>
					<ul class="ftr-icons">
						<li><a href="#"><span class="fa"> </span></a></li>
						<li><a href="#"><span class="tw"> </span></a></li>
						<li><a href="#"><span class="link"> </span></a></li>
						<li><a href="#"><span class="gmail"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-3 ftr-grid ftr-last-gd ftr-rit wow zoomIn" data-wow-delay="0.3s">
					<h3>Linkuri Rapide</h3>
					<ul class="ftr-nav">
						<li><a href="/">Acasa</a></li>
						<li><a href="/rooms">Camere</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--footer end here-->
	<!--copy rights start here -->
	<div class="copy-right">
		<div class="container">
			<div class="copy-rights-main wow zoomIn" data-wow-delay="0.3s">
				<p>© 2017 Cabana Belvedere | Website by <a href="http://www.tudortacal.com" target="_blank">Tudor Tacal</a> </p>
			</div>
		</div>
	</div>
</body>
</html>
