<!DOCTYPE html>
<head>
  <title>Tudor Tacal</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
  <div id="DIV_1">
	 <a href="/" rel="bookmark" id="A_2"><img id="IMG_3" src="../public/assets/lake_view.jpg" /></a>
 </div>
  <h1>Salut Aura si Dan</h1>
  <h2>Aici o sa gasiti noul website al cabanei noastre</h2>
  <p>
    O sa imi ia timp sa il fac frumos dar am termen pana in 1 Mai, cand o sa fim deja mutati in noul apartament.<br>
    Dar oricum, ce vedeti voi acuma este online, vizibil pentru toata planeta.<br>
    Siteul nostru este live si poate fi accesat de catre oricine.<p>
    Saptamana viitoare o sa va arat o prima iteratie, adica varianta de site. Se numeste MVP 1. Minimum viable product - produs minim viabil.<br>
    V-am pupat
  </p>
</body>
