<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Cabana Belvedere Colibita</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mr Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
<!--google fonts-->
<!-- animated-css -->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script src="../js/googleAnalytics.js"></script>

		<script>
		 new WOW().init();
		</script>
<!-- animated-css -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<!--header-top start here-->
<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<!-- <div class="col-md-4 top-social wow bounceInLeft" data-wow-delay="0.3s">
			    <ul>
			    	<li><h5>Follow Us :</h5></li>
			    	<li><a href="#"><span class="fb"> </span></a></li>
			    	<li><a href="#"><span class="tw"> </span></a></li>
			    	<li><a href="#"><span class="in"> </span></a></li>
			    	<li><a href="#"><span class="gmail"> </span></a></li>
			    </ul>
			</div> -->
			<div class="col-md-8 header-address wow bounceInRight" data-wow-delay="0.3s">
				<ul>
					<li><span class="phone"> </span> <h6>0744 534 912</h6></li>
					<li><span class="email"> </span><h6><a href="mailto:info@example.com">aura.colibita@yahoo.com</a></h6></li>
				</ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header-top end here-->
<!--header start here-->
	<!-- NAVBAR
		================================================== -->
<div class="header">
	<div class="fixed-header">

		    <div class="navbar-wrapper">
		      <div class="container">
		        <nav class="navbar navbar-inverse navbar-static-top">
		             <div class="navbar-header">
			              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			              </button>
			              <div class="logo wow slideInLeft" data-wow-delay="0.3s">
											<a class="navbar-brand" href="/"><img src="images/LogoBelvedere5.png" /></a>
			              </div>
			          </div>
		            <div id="navbar" class="navbar-collapse collapse">
		            <nav class="cl-effect-16" id="cl-effect-16">
		              <ul class="nav navbar-nav">
		               <li><a  href="/" data-hover="Acasa">Acasa</a></li>
									 <li><a href="/rooms" class="active" data-hover="Rooms">Camere</a></li>
									 <li><a href="/contact" data-hover="Contact">Contact</a></li>
		              </ul>
		            </nav>

		            </div>
		            <div class="clearfix"> </div>
		             </nav>
		          </div>
		           <div class="clearfix"> </div>
		    </div>
	 </div>
</div>
<!--header end here-->
<!--room start here-->
<div class="rooms">
	<div class="container">
		<div class="rooms-main">
			 <div class="room-head">
			 	<h3>Camere Rustice</h3>
			 </div>
			 <div class="rooms-top">
			    <div class="rooms-left wow slideInLeft" data-wow-delay="0.3s">
				 	<div class="col-md-4 rooms-text">
				 		<h2><a href>Camera 1 cu vedere spre lac</a></h2>
				 		<p>Aceasta camea dubla are 2 paturi incapatore si iesire spre balconul principal care ofera o vedere spectaculara asupra statiunii. Balconul este mare si poate fi folosit pentru a servi micul dejun intr-o zi de vara. Camera este situata la etajul 1. </p>
				 	    <!-- <div class="room-btn">
				 	      <a href="single.html" class="hvr-push">Read More</a>
				 	    </div> -->
				 	</div>
				 	<div class="col-md-8 rooms-img">
				 		<div class="luxury-block">
				 		 <a href=#> <img src="images/VillaBelvedereColibitaCamera1.jpg" alt="" class="img-responsive"></a>
						</div>
				 	</div>
				  <div class="clearfix"> </div>
			    </div>
			     <div class="rooms-left1 wow slideInRight" data-wow-delay="0.3s">
				 	<div class="col-md-8 rooms-img ulta-img">
				 	 <a href=#> <img src="images/VillaBelvedereColibitaCamera2.jpg" alt="" class="img-responsive"></a>
				 	</div>
				 	<div class="col-md-4 rooms-text ulta-text">
				 		<h3><a href>Camera 2 cu vedere spre lac</a></h3>
						<p>Aceasta camea dubla are 2 paturi incapatore si iesire spre balconul principal care ofera o vedere spectaculara asupra statiunii. Camera este dotata cu un TV color unde puteti urmari canalele preferare, meciuri sportive sau eminiuni in voga. Balconul este mare si poate fi folosit pentru a servi micul dejun intr-o zi de vara. Camera este situata la etajul 1. </p>
				 	    <!-- <div class="room-btn">
				 	      <a href="single.html" class="hvr-push">Read More</a>
				 	    </div> -->
				 	</div>
				  <div class="clearfix"> </div>
			    </div>
			 </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--gallery start here-->
<div class="gallery" id="gallery">
	<div class="container">
	  <div class="gallery-main wow zoomIn" data-wow-delay="0.3s">
	  	<div class="gallery-top">
	  		<h1>Alte camere</h1>
	  	</div>
		<div class="gallery-bott">
			<div class="col-md-4 col1 gallery-grid">
				<a href="images/VillaBelvedereColibitaCamera3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaCamera3.jpg" alt="">
							<figcaption>
								<h4 class="gal">Camera 3</h4>
								<p class="gal1">Camera are 2 paturi separate si este situata la etajul 1</p>
							</figcaption>
						</figure>
					</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaCamera4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaCamera4.jpg" alt="">
							<figcaption>
								<h4 class="gal">Camera 4</h4>
								<p class="gal1">Camera are 3 paturi si este perfecta pentru copii.</p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaCamera5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaCamera5.jpg" alt="">
							<figcaption>
								<h4 class="gal">Camera 5</h4>
								<p class="gal1">Camera are 2 paturi si vedere spre lac</p>
							</figcaption>
						</figure>
						</a>
					</div>
			     <div class="col-md-4 col1 gallery-grid">
				  <a href="images/VillaBelvedereColibitaCamera6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaCamera6.jpg" alt="">
							<figcaption>
								<h4 class="gal">Camera 6</h4>
								<p class="gal1">Camera are 2 paturi si vedere spre lac</p>
							</figcaption>
						</figure>
					</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaLiving.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaLiving.jpg" alt="">
							<figcaption>
								<h4 class="gal">Living Room</h4>
								<p class="gal1">Livingul este deschis si poate acomoda confortabil cel putin 12 persoane </p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaBucatarie.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaBucatarie.jpg" alt="">
							<figcaption>
								<h4 class="gal">Bucatarie</h4>
								<p class="gal1">Bucataria este dotata standard pentru a pregati mese delicioase.</p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaBaia1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaBaia1.jpg" alt="">
							<figcaption>
								<h4 class="gal">Baia 1</h4>
								<p class="gal1">Prima baie este situata la parter.</p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaBaia2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaBaia2.jpg" alt="">
							<figcaption>
								<h4 class="gal">Baia 2</h4>
								<p class="gal1">A doua baie este situata la etajul 1.</p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="col-md-4 col1 gallery-grid">
						<a href="images/VillaBelvedereColibitaBaia3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-bubba">
							<img class="img-responsive" src="images/VillaBelvedereColibitaBaia3.jpg" alt="">
							<figcaption>
								<h4 class="gal">Baia 3</h4>
								<p class="gal1">A treia baie este situata la mansarda.</p>
							</figcaption>
						</figure>
						</a>
					</div>
			     <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--gallery end here-->
<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-grid a').Chocolat();
		});
		</script>

<!--room end here-->
<!-- footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-3 ftr-grid wow zoomIn" data-wow-delay="0.3s">
				<div class="ftr-logo">
					<h3>Cabana Belvedere</h3>
				</div>
				<p>Inchiriaza cabana pentru a te bucura de peisajele minunate oferite de statiunea Colibita</p>
				<a href="#" class="ftr-btn">Citeste mai mult</a>
			</div>
			<div class="col-md-3 ftr-grid ftr-mid wow zoomIn" data-wow-delay="0.3s">
				<h3>Adresa</h3>
				<span class="ftr-line flm"> </span>
				<p>Bistrita-Nasaud</p>
				<p>Bistrita-Bargaului</p>
				<p>Statiunea Colibita</p>
				<p>Drumul princial Numarul 249B</p>
			</div>
			<div class="col-md-3 ftr-grid ftr-rit wow zoomIn" data-wow-delay="0.3s">
				<h3>Contact</h3>
				<form>
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					<input type="submit" value="Trimite" />
				</form>
				<ul class="ftr-icons">
					<li><a href="#"><span class="fa"> </span></a></li>
					<li><a href="#"><span class="tw"> </span></a></li>
					<li><a href="#"><span class="link"> </span></a></li>
					<li><a href="#"><span class="gmail"> </span></a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr-grid ftr-last-gd ftr-rit wow zoomIn" data-wow-delay="0.3s">
				<h3>Linkuri Rapide</h3>
				<ul class="ftr-nav">
					<li><a href="/">Acasa</a></li>
					<li><a href="/rooms">Camere</a></li>
<!-- //<li><a href="/contact">Contact</a></li> -->

				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<div class="copy-right">
	<div class="container">
		 <div class="copy-rights-main wow zoomIn" data-wow-delay="0.3s">
    	    <p>© 2017 Cabana Belvedere | Website by <a href="http://www.tudortacal.com" target="_blank">Tudor Tacal</a> </p>
    	 </div>
    </div>
</div>
</body>
</html>
